@use '../../../shared/sass/vars' as v;

.header {
  background-color: v.$bg_dark;
  padding: v.$header_pd;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v.$g32;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
}

