// layout / container
$container_base: 1540px;
$container_pd_base: 0 15px;
$header_pd: 40px 0;
$header_pd1024: 20px 0;
$header_pd768: 12px 0;

// font family
$ffTikTok: "TikTok Sans", sans-serif;
$ffGothic:"Special Gothic Expanded One", sans-serif;

//color
$accent_color: #49D0FF;
$bg_dark: #121214;
$text_white: #fff;

// transition
$color_transition: color .2s ease;
$transition_duration: 0.3s;

//gap
$g48: 48px;
$g32: 32px;


// font size
$fs16: 16px;

// line height
$lh25: 25px;


// font weight
$fw400: 400;
$fw500: 500;
$fw600: 600;